$theme-colors:("teste":#ff0000,
    "royal-blue": #03053E,
    "navy-blue": #060A6F,
    "blue-gray": #646887,
    "silver-send": #C4CAD0,
    "magnolia": #FCF7FF);

$nav-tabs-border-color:#C4CAD0;
$nav-tabs-link-hover-border-color:#FFFFFF #FFFFFF #03053E;
$nav-link-color:#010217;
$nav-link-hover-color:#03053E;
$nav-link-font-size:1.4em;





@import "~bootstrap/scss/bootstrap";
